version: '3.3'

services:
  container-name:
    image: maxizapata/openconnect:latest
    privileged: true
    restart: always
    environment:
      VPN_USER: 'user'
      VPN_PASS: 'pass'
      VPN_URL: 'https://example'
    ports:
      - '2222:22'
    expose:
      - '22'
